extends layout 

block content 


    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    .container
        h1 Movie Reviews
        each review in reviews
            .card
            .row-fluid
                .col-sm-6
                .panel.panel-default
                    .panel-heading
                    span(itemscope='' itemtype='http://schema.org/Review')
                        h3.panel-title(itemprop='name') Movie Name: #{review.movieName}
                    // /panel-heading
                    .panel-body(itemprop='reviewBody')
                    | Review:
                    h4 #{review.review}
                    span(itemprop='author' itemscope='' itemtype='http://schema.org/Person')
                        small
                        span(itemprop='name') Reviewer Name: #{review.reviewer} 
                        br
                    // /author schema
                    span.glyphicon.glyphicon-calendar(aria-hidden='true')
                    meta(itemprop='datePublished' content='01-01-2016')
                    |  Date: #{review.date} 
                    br
                    span
                        span.reviewRating(itemscope='' itemtype='http://schema.org/Rating')
                        meta(itemprop='worstRating' content='1')
                        span(itemprop='ratingValue')  Rating: #{review.rating}
                        span(itemprop='bestRating')  stars 
                        // /reviewRating
                        span.glyphicon.glyphicon-star(aria-hidden='true')
                        span.glyphicon.glyphicon-star(aria-hidden='true')
                        span.glyphicon.glyphicon-star(aria-hidden='true')
                        span.glyphicon.glyphicon-star(aria-hidden='true')
                        span.glyphicon.glyphicon-star(aria-hidden='true')
    
        